extends layout

block content
  .container
        .jumbotron
               .container
                    h1 Нужно не тратить время, а инвестировать в него. - Стивен Кови
                    p Каждый из нас не раз задумывался – сколько времени мы тратим ежедневно на дорогу? Ведь с самого утра нам предстоит множество дел: съездить в университет, поехать в офис, посетить тренажерный зал или салон красоты, пройтись по модным бутикам и магазинам. Передвигаясь из одного места в другое, мы тратим очень много времени, в том числе и на ожидание в пробках. Ежегодно мы теряем не один день на времяпровождение за рулем или в общественном транспорте. Основными последствиями этой проблемы являются низкая деловая эффективность и плохая экология. Суть проблемы заключается в том, что все объекты социального назначение расположены вдали от дома. А в некоторые места нам приходится ездить по несколько раз в день. Возникает вопрос: Какие есть методы экономии времени, которое уходит на дорогу?
                a.btn.btn-primary.btn-lg(href='https://ru.wikipedia.org/wiki/%D0%90%D0%BB%D0%B3%D0%BE%D1%80%D0%B8%D1%82%D0%BC_%D0%94%D0%B5%D0%B9%D0%BA%D1%81%D1%82%D1%80%D1%8B') Хотите узнать больше?