extends layout

block content
    .container
        h1.
            Список пользователей
    .container
        ul
            each user, i in userlist
                li
                    a(href="mailto:#{user.password}")= user.userlogin